h1{
    color: pink;
    text-align: center
}

html{
    font-family: sans-serif;
}

body {
    background-color: lightgreen;
}

li a{
    color: purple;
    font-size:60px
}

.pomodoro-estimate{
    font-weight: bold;
    color: pink;

}
 ul{
     margin-left: 300px;
 }
  li {
      padding:10px;
  }
  